  <nav class="navbar navbar-dark bg-dark n_container  no-select" [ngClass]="{'light-theme': lightMode}">
    <div class="container-fluid">
      <a class="navbar-brand text-light d-inline-block pl-5 ml-5" routerLink="">
        <img src="../../assets/Team3Logo.svg" width="100" height="100" class="d-inline-block align-top" alt="">
      </a>
          <a class="nav-link display-4 text-light mr-auto">Bug Report System<span class="sr-only">(current)</span></a>
          <button class="btn btn-secondary shadow" (click)="switchMode()">
              <!-- <img src="../../assets/clear_60fps.svg" class="d-inline-block align-top" alt=""> -->
              <div *ngIf="!lightMode" class="add" style="background-image: url(../../assets/dark_60fps.svg)"></div>
              <div *ngIf="lightMode"class="add" style="background-image: url(../../assets/light_60fps.svg)"></div>
              </button>
    </div>
  </nav>
